<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybaits.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 마이바티스 작동 규칙 정의 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="memberVO" type="vo.MemberVO"></typeAlias>
		<typeAlias alias="sellerVO" type="vo.SellerVO"></typeAlias>
		<typeAlias alias="changePwVO" type="vo.ChangePwVO"></typeAlias>
		<typeAlias alias="changeMemberVO" type="vo.ChangeMemberVO"></typeAlias>
		<typeAlias alias="deleteVO" type="vo.DeleteVO"></typeAlias>
		<typeAlias alias="productVO" type="vo.ProductVO"></typeAlias>
		<typeAlias alias="optionVO" type="vo.OptionVO"></typeAlias>
		<typeAlias alias="detailOptionVO" type="vo.DetailOptionVO"></typeAlias>
		<typeAlias alias="orderVO" type="vo.OrderVO"></typeAlias>
		<typeAlias alias="deliveryAddressVO" type="vo.DeliveryAddressVO"></typeAlias>
		<typeAlias alias="searchVO" type="vo.SearchVO" ></typeAlias>
		<typeAlias alias="adminVO" type="vo.AdminVO" ></typeAlias>	
		<typeAlias alias="basketVO" type="vo.BasketVO"></typeAlias>
		<typeAlias alias="basketListVO" type="vo.BasketListVO"></typeAlias>
		<typeAlias alias="payingCardVO" type="vo.PayingCardVO"></typeAlias>
		<typeAlias alias="virtualAccountVO" type="vo.VirtualAccountVO"></typeAlias>
		<typeAlias alias="payBankVO" type="vo.PayBankVO"></typeAlias>
		<typeAlias alias="payMoneyVO" type="vo.PayMoneyVO"></typeAlias>
		<typeAlias alias="bankVO" type="vo.BankVO"></typeAlias>
		<typeAlias alias="orderListVO" type="vo.OrderListVO"></typeAlias>
		<typeAlias alias="sellerListVO" type="vo.SellerListVO"></typeAlias>
		<typeAlias alias="noticeVO" type="vo.NoticeVO"></typeAlias>
		<typeAlias alias="categoryVO" type="vo.CategoryVO"></typeAlias>
		<typeAlias alias="orderProductVO" type="vo.OrderProductVO"></typeAlias>
		<typeAlias alias="guestVO" type="vo.GuestVO"></typeAlias>
		<typeAlias alias="wishListVO" type="vo.WishListVO"></typeAlias>
		<typeAlias alias="declProductVO" type="vo.DeclProductVO"></typeAlias>
		<typeAlias alias="reviewVO" type="vo.ReviewVO"></typeAlias>
	</typeAliases>
	
</configuration> 